<% layout('layouts/boilerplate') -%>


<div
  class="d-flex min-vh-100"
  lc-helper="background"
  style="
    background: url('https://images.unsplash.com/photo-1489893117776-b13fed1ad239?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80')
      center / cover no-repeat;
 
    background-blend-mode: overlay;
  "
>
  <div class="align-self-center text-center text-light col-md-8 offset-md-2">
    <div class="lc-block mb-4">
      <div editable="rich">
        <h1 class="display-1">Welcome to YelpCamp</h1>
      </div>
    </div>

    <div class="lc-block">
      <div editable="rich">
        <p class="lead">We offer a wide range of top-rated camping locations in stunning natural settings,</p>
        <p class="lead">perfect for both tent and RV camping.</p>
      </div>
    </div>

    <a href="/campgrounds" class="btn btn-light mt-3 ">Go to campgrounds</a>
 

    </div>
  </div>
</div>
